.form {
  padding: 1rem 0;
}

.preview {
  overflow: hidden;
}

.preview:hover .changeBtn {
  opacity: 1;
  transition: 0.1s ease;
}

.changeBtn {
  transition: 0.2s ease;
  opacity: 0;
  position: absolute;
}
