html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

*::after, *::before {
  box-sizing: border-box;
}

.indicators {
  padding-inline-start: 0;
}

.indicators .active {
  background-color: #C4C4C4;
  border: .8px solid  #C4C4C4;
}